Repository skarab42/vite-plugin-vitest-typescript-assert: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "**/*.{js,cjs,ts}": ["eslint --fix --max-warnings=0 --ignore-path .gitignore"],
  "**/*.{js,cjs,ts,json,md,html,css}": ["prettier --write --ignore-path .gitignore"]
}

feat: first release
  .github/FUNDING.yml
  .github/workflows/CI.yaml
Due: none

fix: check command
  package.json
  tsconfig.check.json
Due: prettier --write --ignore-path .gitignore

chore: update typescript version
  .github/workflows/CI.yaml
Due: none

fix: tag type
  src/plugin/assert/util.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

fix: position type
  src/plugin/assert/tssert/to-throw-error.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

fix: force tsconfigRootDir to __dirname
  .eslintrc.cjs
  .eslintrc.json
  tsconfig.eslint.json
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

chore: skip test
  .github/workflows/CI.yaml
Due: none

fix: unleashed-typescript
  package.json
Due: prettier --write --ignore-path .gitignore

fix: update unleashed-typescript@1.0.1
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  6ffc127cd6d36a623c954b88851b8b6328dd36d9
Due: none

feat: reduce build size
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  97dc1cfd0ec65f568f277bd5d5f6fe54017da372
Due: none

fix: micromatch import
  src/plugin/util.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  409bcc0cba0776e755cd992bc885492c5de965d3
Due: none

fix: esModuleInterop
  src/typescript/compiler.ts
Due: eslint --fix --max-warnings=0 --ignore-path .gitignore, prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  fba311397395b1fe01fa8aae6a100f3b575e93ee
Due: none

fix: unleashed-typescript postinstall
  package.json
Due: prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  92811501d66dd7a50a16acef9e30c1b2f97a7e86
Due: none

docs: typo
  README.md
Due: prettier --write --ignore-path .gitignore

fix: exports types
  package.json
Due: prettier --write --ignore-path .gitignore

Notes added by 'git notes add'
  19fbe91bafbae540d5e361987ff6ffaa13911177
Due: none
